@page
@{

    ViewData["Title"] = "dt191g | Om mig";

}
<div class="main">
    <h1>Om webbsidan</h1>
    <p>
        Denna webbsida är moment 1:2 i kursen DT191G.<br />
        I detta moment ska jag skapa tre stycken separata Razor-pages, samt en gemensam mall för samtliga undersidor,
        en "Shared"-fil med namnet _Layout.cshtml - i vilken grundkoden för webbsidorna ska finnas,
        inklusive dokuments-typ, inkludering av CSS- och JavaScript-fil(er), huvudnavigerings-system med mera.
    </p>

    <h2>CSS och JavaScript</h2>
    <p>
        Webbplatsen ska ha stöd för statiska filer från wwwrot från vilken CSS- och JavaScript-filer ska laddas in.
        Webbplatsen ska utsmyckas grafiskt med hjälp av CSS, och det ska finnas någon form av valfri
        JavaScript-funktionalitet som ska ligga i en extern JavaScript-fil.
        Källkoden ska vara prydligt formatterad och validera korrekt.
    </p>
</div>

