@page
@{

    ViewData["Title"] = "dt191g | moment1.1";

}
<div class="main">
    <h1>Startsida</h1>
    <h2>DT191G Moment 1:2</h2>
    <p>
        I denna uppgift ska jag skapa en enklare webbplats med ASP.net Core och Razor.
        <br /><br />
        <b>Webbplatsen ska innehålla följande undersidor:</b>

        <ul>
            <li>Startsida med valfri information</li>
            <li>Razor - undersida med diverse innehåll skapat dynamiskt med Razor</li>
            <li>Om Sidan - information om dig som skapat webbplatsen</li>
        </ul>
        Webbplatsen redovisas med källkod samt en inspelad film där jag demonstrerar min webbplats.

    </p>
</div>